{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}
		<!-- Cabecera -->
		<section class="page-section clearfix">
			<div class="container">
				<div class="intro">
					<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro.jpg' %}" alt="">
					<div class="intro-text left-0 text-center bg-faded p-5 rounded">
						<h2 class="section-heading mb-4">
							<span class="section-heading-upper">Amor por las Mascotas</span>
							<span class="section-heading-lower">Cuidamos de Ellos, Contigo</span>
						</h2>
						<p class="mb-3">Encuentra todo lo que necesitas para consentir a tu compañero de vida. Juntos haremos que cada momento sea especial.
						</p>
						<div class="intro-button mx-auto">
							<a href="{% url 'store' %}" class="btn btn-primary">Visítanos</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Sección Compromiso Total Garantizado -->
		<section class="page-section cta">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 mx-auto">
						<div class="cta-inner text-center rounded">
							<h2 class="section-heading mb-4">
								<span class="section-heading-upper">Compromiso Total</span>
								<span class="section-heading-lower">Garantizado</span>
							</h2>
							<p class="mb-3">En Kiwoko, nos comprometemos a ofrecerte productos de la más alta calidad y servicios que aseguren el bienestar de tu mascota. Nuestra prioridad es garantizar que tú y tu compañero reciban la mejor experiencia, respaldada por nuestro equipo de expertos.</p>
							<p class="mb-3"><strong>¿No estás satisfecho?</strong> Te ofrecemos cambios o devoluciones fáciles, porque tu tranquilidad es lo más importante para nosotros.</p>
							<p class="mb-3">Además, contamos con una amplia gama de servicios especializados como clínicas veterinarias, peluquería, adiestramiento y más. Nuestro objetivo es estar a tu lado en cada etapa del cuidado de tu mascota.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		
{% endblock %}


							
