{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}
		<!-- Cabecera -->
		<section class="page-section clearfix">
			<div class="container">
				<div class="intro">
					<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro.jpg' %}" alt="">
					<div class="intro-text left-0 text-center bg-faded p-5 rounded">
						<h2 class="section-heading mb-4">
							<span class="section-heading-upper">Amor por las Mascotas</span>
							<span class="section-heading-lower">Cuidamos de Ellos, Contigo</span>
						</h2>
						<p class="mb-3">Encuentra todo lo que necesitas para consentir a tu compañero de vida. Juntos haremos que cada momento sea especial.
						</p>
						<div class="intro-button mx-auto">
							<a href="{% url 'store' %}" class="btn btn-primary">Visítanos</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Sección Promociones -->
		<section class="page-section cta">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 mx-auto">
						<div class="cta-inner text-center rounded">
							<h2 class="section-heading mb-4">
								<span class="section-heading-upper">¡Promociones Especiales!</span>
								<span class="section-heading-lower">Garantizado</span>
							</h2>
							<!-- Promoción 1 -->
							<div class="promotion">
								<h3 class="mb-3">¡Black Friday para Mascotas!</h3>
								<p class="mb-0">Aprovecha descuentos de hasta el <strong>50%</strong> en productos seleccionados. Solo del 24 al 30 de noviembre.</p>
							</div>
							<hr>
							<!-- Promoción 2 -->
							<div class="promotion">
								<h3 class="mb-3">3x2 en Pienso para Gatos</h3>
								<p class="mb-0">Compra 2 sacos de pienso y llévate el tercero gratis. Oferta válida hasta el 15 de diciembre.</p>
							</div>
							<hr>
							<!-- Promoción 3 -->
							<div class="promotion">
								<h3 class="mb-3">Especial Navidad</h3>
								<p class="mb-0">Regalos únicos para tu mascota desde 9,99 €. ¡Celebra con ellos estas fiestas!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
	{% endblock %}
							
